# Configurações do Django
# Você pode encontrar mais sobre elas em https://docs.djangoproject.com/pt/3.0/topics/settings/
SECRET_KEY=<random>  # Qual a chave de segurança para utilizar com o Django?
DEBUG=True  # Esse ambiente é de desenvolvimento (True) ou produção (False)?
ALLOWED_HOSTS=127.0.0.1,localhost  # Em qual servidor ou domínio essa instalação vai rodar?

# Configurações do banco de dados
# Você pode encontrar mais sobre elas em https://pypi.org/project/dj-database-url/
DATABASE_URL=sqlite:///db.sqlite3  # Qual a URL de acesso ao banco de dados?
